<!DOCTYPE html>
<html>
  <head>
    <title>HotwireDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <div>
      <%= link_to "Regular hot takes", hot_takes_path %>
      <%= link_to "Turbo for free hot takes", turbo_for_free_hot_takes_path %>
      <%= link_to "Turbo optimized hot takes", turbo_optimized_hot_takes_path %>
    </div>
    <%= yield %>
  </body>
</html>
